<meta charset="utf-8"/>

<meta name="keywords" content="Eyecatch - CI for designing"/>
<meta name="keywords" content="Sorapixels &lt;info@sorapixels.com&gt;"/>
<meta name="keywords" content="Test and Check web design easily. Build better apps with Eyecatch."/>
<meta name="keywords" content="Design CI, Continuous Integration"/>

<meta name="twitter:site" content="@eyecatchio"/>

<meta property="og:type" content="article"/>
<meta property="og:title" content="Eyecatch - CI for designing"/>
<meta property="og:url" content="https://eyecatch.io/"/>
<meta property="og:description" content="Test and Check web design easily. Build better apps with Eyecatch."/>
<meta property="og:site_name" content="Eyecatch"/>
<meta property="og:image" content="//www.gravatar.com/avatar/fca044d9960e1d7b389f8b9c4969fc5f.jpg"/>

<link rel="canonical" href="//docs.eyecatch.io/"/>

<link rel="apple-touch-icon" sizes="57x57" href="/image/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/image/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/image/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/image/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/image/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/image/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/image/favicons/apple-touch-icon-144x144.png">
<link rel="icon" type="image/png" href="/image/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/image/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/image/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/image/favicons/manifest.json">
<link rel="mask-icon" href="/image/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="Eyecatch">
<meta name="application-name" content="Eyecatch">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="/image/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="icon" href="/image/favicons/favicon.ico" type="image/vnd.microsoft.icon"/>
<link rel="shortcut icon" href="/image/favicons/favicon.ico" type="image/vnd.microsoft.icon"/>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.0.23/css/bulma.min.css"/>
<link rel="stylesheet" href="/css/main.css"/>

<title>Eyecatch - CI for designing</title>
