<aside class="menu">
  <p class="menu-label">General</p>
  <ul class="menu-list">
    <li><a href="/">Top</a></li>
    <li><a href="/build-environment">Build environment</a></li>
    <li><a href="/configuration">Configuration</a></li>
    <li><a href="/integration">Integration</a></li>
    <li><a href="/database-setup">Database setup</a></li>
    <li><a href="/caching-dependencies">Caching dependencies</a></li>
  </ul>
  <p class="menu-label">Legal</p>
  <ul class="menu-list">
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy-policy">privacy policy</a></li>
  </ul>
  <p class="menu-label">about eyecatch</p>
  <ul class="menu-list">
    <li><a href="/about-us">about us</a></li>
    <li><a href="/contact">contact</a></li>
  </ul>
</aside>
