<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="keywords" content="Eyecatch - CI for designing"/>
  <meta name="keywords" content="Sorapixels &lt;info@sorapixels.com&gt;"/>
  <meta name="keywords" content="Test and Check web design easily. Build better apps with Eyecatch."/>
  <meta name="keywords" content="Design CI, Continuous Integration"/>
  <meta name="twitter:site" content="@eyecatchio"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Eyecatch - CI for designing"/>
  <meta property="og:url" content="https://eyecatch.io/"/>
  <meta property="og:description" content="Test and Check web design easily. Build better apps with Eyecatch."/>
  <meta property="og:site_name" content="Eyecatch"/>
  <meta property="og:image" content="//www.gravatar.com/avatar/fca044d9960e1d7b389f8b9c4969fc5f.jpg"/>
  <link rel="canonical" href="//docs.eyecatch.io/"/>
  <link rel="icon" href="//eyecatch.io/assets/images/favicon.ico" type="image/vnd.microsoft.icon"/>
  <link rel="shortcut icon" href="//eyecatch.io/assets/images/favicon.ico" type="image/vnd.microsoft.icon"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.0.23/css/bulma.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <title>Eyecatch - CI for designing</title>
</head>
<body>
  {% include header.html %}

  <section class="documents section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          {% include side.html %}
        </div>
        <div class="column">
          <div class="content">{{ content }}</div>
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
</html>
